<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anil.myntratinder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductListViewActivity"
            android:label="@string/title_activity_product_list_view"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyActivity" />
        </activity>
        <activity
            android:name=".ProductCardViewActivity_"
            android:label="@string/title_activity_product_card_view"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyActivity" />
        </activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_activity_product_detail" >
        </activity>
        <activity
            android:name=".DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppThemeWithActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyActivity" />
        </activity>
        <activity
            android:name=".MyntraTinderActivity"
            android:label="@string/title_activity_myntra_tinder"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MyActivity" />
        </activity>
    </application>

</manifest>
